# Dirs a escanear separados por ; (usa rutas absolutas). Ej:
ROCKOLA_MEDIA_DIRS=/home/daniel/Music;/home/daniel/Videos

# Spotify (Client Credentials Flow)
SPOTIFY_CLIENT_ID=__your_client_id__
SPOTIFY_CLIENT_SECRET=__your_client_secret__
