---
import RockolaApp from "../ui/RockolaApp.tsx";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Rockola</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <RockolaApp client:only="react" />
  </body>
</html>
